<div class="jumbotron bg-img ">
  <div class="container">
    <p>New Games & Accessories</p>

    <div>
      <h2>Monthly packages. <br> Excitement delivered daily.</h2>
    </div>
    <p>Whats the best way to shop for the latest video games <br> and peripherals?How about never shopping at all?
      <br>
      You'll get new stuff on your doorstep - every month.
    </p>
    <button class="btn" role="button">GET STARTED</button>
  </div>
</div>
<main role="main" class="container mb-4">
  <div class="container">
    <div class="col-md-12 mt-4 mb-4">
      <h4 class="text-center">How It Works</h4>
    </div>
   
      
      <app-features [features]="sortedArray"></app-features>
  </div>
</main>