
.stepNumber{
    font-size: 30px;
    text-align: center;
    padding-bottom: 0;
    font-weight: bold;
    border-bottom: 3px solid #74ebbb;
    display: inline-flex;
    margin-bottom: 20px;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
}